Apps/JJ.Apps.QuestionAndAnswer.AppService.DemoClient/Service References/RandomQuestionService/RandomQuestionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JJ.Apps.QuestionAndAnswer.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JJ.Apps.QuestionAndAnswer.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52160/RandomQuestionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/JJ.Apps.QuestionAndAnswer.ViewModels.Entities" />
  <xs:complexType name="RandomQuestionViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerIsVisible" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JJ.Apps.QuestionAndAnswer.ViewModels.Entities" minOccurs="0" name="CurrentUserQuestionFlag" nillable="true" type="q1:CurrentUserQuestionFlagViewModel" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JJ.Apps.QuestionAndAnswer.ViewModels.Entities" minOccurs="0" name="Question" nillable="true" type="q2:QuestionViewModel" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JJ.Apps.QuestionAndAnswer.ViewModels.Entities" minOccurs="0" name="SelectedCategories" nillable="true" type="q3:ArrayOfCategoryViewModel" />
      <xs:element minOccurs="0" name="UserAnswer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RandomQuestionViewModel" nillable="true" type="tns:RandomQuestionViewModel" />
</xs:schema>