Apps/JJ.Apps.QuestionAndAnswer.AppService.DemoClient/Service References/RandomQuestionService/RandomQuestionService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52160/RandomQuestionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JJ.Apps.QuestionAndAnswer.ViewModels" />
  <xs:element name="ShowQuestion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JJ.Apps.QuestionAndAnswer.ViewModels" minOccurs="0" name="ShowQuestionResult" nillable="true" type="q1:RandomQuestionViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JJ.Apps.QuestionAndAnswer.ViewModels" minOccurs="0" name="viewModel" nillable="true" type="q2:RandomQuestionViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JJ.Apps.QuestionAndAnswer.ViewModels" minOccurs="0" name="ShowAnswerResult" nillable="true" type="q3:RandomQuestionViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HideAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JJ.Apps.QuestionAndAnswer.ViewModels" minOccurs="0" name="viewModel" nillable="true" type="q4:RandomQuestionViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HideAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JJ.Apps.QuestionAndAnswer.ViewModels" minOccurs="0" name="HideAnswerResult" nillable="true" type="q5:RandomQuestionViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>