Apps/JJ.Apps.QuestionAndAnswer.WcfService.DemoClient/Service References/QuestionService/QuesionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JJ.Apps.QuestionAndAnswer.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JJ.Apps.QuestionAndAnswer.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QuestionDetailViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnswerIsVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="NotFound" type="xs:boolean" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserAnswer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionDetailViewModel" nillable="true" type="tns:QuestionDetailViewModel" />
</xs:schema>