Apps/JJ.Apps.QuestionAndAnswer.WcfService.DemoClient/Service References/QuestionService/QuesionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JJ.Apps.QuestionAndAnswer.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JJ.Apps.QuestionAndAnswer.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52160/QuesionService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="QuestionDetailViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerIsVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="NotFound" type="xs:boolean" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="tns:QuestionViewModel" />
      <xs:element minOccurs="0" name="SelectedCategories" nillable="true" type="tns:ArrayOfCategoryViewModel" />
      <xs:element minOccurs="0" name="UserAnswer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionDetailViewModel" nillable="true" type="tns:QuestionDetailViewModel" />
  <xs:complexType name="QuestionViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Categories" nillable="true" type="tns:ArrayOfCategoryViewModel" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Links" nillable="true" type="tns:ArrayOfLinkViewModel" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuestionViewModel" nillable="true" type="tns:QuestionViewModel" />
  <xs:complexType name="ArrayOfCategoryViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryViewModel" nillable="true" type="tns:CategoryViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryViewModel" nillable="true" type="tns:ArrayOfCategoryViewModel" />
  <xs:complexType name="CategoryViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="NameParts" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryViewModel" nillable="true" type="tns:CategoryViewModel" />
  <xs:complexType name="ArrayOfLinkViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LinkViewModel" nillable="true" type="tns:LinkViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLinkViewModel" nillable="true" type="tns:ArrayOfLinkViewModel" />
  <xs:complexType name="LinkViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LinkViewModel" nillable="true" type="tns:LinkViewModel" />
</xs:schema>