Archive/QuestionAndAnswer.AppService.DemoClient/Service References/ResourceService/ResourceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JJ.Presentation.QuestionAndAnswer.AppService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JJ.Presentation.QuestionAndAnswer.AppService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Messages">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreYouSureYouWishToDeleteTheFollowingQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExplanationOfIsManualWithParenthesis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoCategoriesAvailable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoQuestionsFound" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionIsDeleted" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Messages" nillable="true" type="tns:Messages" />
  <xs:complexType name="Titles">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalInformation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvailableCategories" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BackToList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Confirm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentFlaggedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentFlags" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentIsFlagged" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentManagement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentSourcesAndImports" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeleteQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EditQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlagContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlaggedContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="General" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasActiveFlags" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HideAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Links" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoQuestionsFound" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SelectCategories" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Selection" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTraining" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Statistics" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TheCorrectAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnflagContent" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Titles" nillable="true" type="tns:Titles" />
  <xs:complexType name="PropertyDisplayNames">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnswersCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Categories" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorrectAnswerCount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlagStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCorrectAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsManual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastModifiedByUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionLinks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Questions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Runs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PropertyDisplayNames" nillable="true" type="tns:PropertyDisplayNames" />
  <xs:complexType name="CommonResources">
    <xs:sequence>
      <xs:element minOccurs="0" name="Add" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cancel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Delete" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogIn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogOut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="New" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="None" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remove" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Save" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Search" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Yes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonResources" nillable="true" type="tns:CommonResources" />
</xs:schema>