Apps/JJ.Apps.QuestionAndAnswer.WcfService.DemoClient/Service References/ResourceService/ResourceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JJ.Apps.QuestionAndAnswer.WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JJ.Apps.QuestionAndAnswer.WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Messages">
    <xs:sequence>
      <xs:element minOccurs="0" name="NoQuestionsFound" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Messages" nillable="true" type="tns:Messages" />
  <xs:complexType name="Labels">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TheCorrectAnswer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Labels" nillable="true" type="tns:Labels" />
  <xs:complexType name="Titles">
    <xs:sequence>
      <xs:element minOccurs="0" name="HideAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextQuestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionNotFound" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowAnswer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Titles" nillable="true" type="tns:Titles" />
</xs:schema>