Apps/JJ.Apps.QuestionAndAnswer.AppService.DemoClient/Service References/ResourceService/ResourceService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52160/ResourceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JJ.Apps.QuestionAndAnswer.AppService" />
  <xs:element name="GetMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cultureName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JJ.Apps.QuestionAndAnswer.AppService" minOccurs="0" name="GetMessagesResult" nillable="true" type="q1:Messages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cultureName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTitlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JJ.Apps.QuestionAndAnswer.AppService" minOccurs="0" name="GetTitlesResult" nillable="true" type="q2:Titles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertyDisplayNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cultureName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertyDisplayNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JJ.Apps.QuestionAndAnswer.AppService" minOccurs="0" name="GetPropertyDisplayNamesResult" nillable="true" type="q3:PropertyDisplayNames" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommonTitles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cultureName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommonTitlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JJ.Apps.QuestionAndAnswer.AppService" minOccurs="0" name="GetCommonTitlesResult" nillable="true" type="q4:CommonTitles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>